<p>
  <b>Title:</b>
  <%= quest.title %>
</p>

<p>
  <b>Description:</b>
  <%= quest.description %>
</p>

<p>
  <b>Quest master:</b>
  <%= link_to quest.quest_master.username, user_path(quest.quest_master) %>
</p>

<p>
  <b>Percent Complete:</b>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#progressbar").progressbar({ value: 37 });
	});
</script>
	<div id="progressbar"></div>
  <%= quest.percent_complete %>
</p>

<p>
  <b>Distance:</b>
  <%= quest.distance %>
</p>