<h1><%= quest.title %></h1>
<div class="quest_description">
	<%= quest.description %>
	<i>
		<% if !quest.completed? %>
		  (Ongoing)
		<% else %>
		  (Completed)
		<% end %>
	</i>
</div>
<p>
  Quest master: 
  <%= link_to quest.quest_master.username, user_path(quest.quest_master) %><br />
  <%= image_tag gravatar(quest.quest_master.email) %>
</p>

<p>
  <b>Percent Complete:</b>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#progressbar<%= quest.id %>").progressBar(<%= quest.percent_complete %>, { 
			max				: 100,
			boxImage		: '/images/progressbar.gif',
			barImage		: {
				0:  '/images/progressbg_red.gif',
				30: '/images/progressbg_orange.gif',
				70: '/images/progressbg_green.gif'
			}
		});
	});
</script>
	<div id="progressbar<%= quest.id %>"></div>
</p>

<p>
  <b>Distance:</b>
	<%= quest.distance_complete %> completed of <%= quest.distance %>
</p>