<p id="notice"><%= notice %></p>

<%= render :partial => "quest_summary", :locals => { :quest => @quest } %>

<% if !@quest.members.blank? %>
  <% for user in @quest.members %>
    <hr />
	<%= render :partial => "users/user_profile_small", :locals => {:user => user} %>
	<br />
  <% end %>
<% else %>
<p>This quest has no members</p>  
<% end %>


<% if !current_user.nil? %>
	<% if current_user == @quest.quest_master %>
		<%= link_to 'Edit', edit_user_quest_path(@quest.quest_master, @quest) %>
	<% else %>
		<%= link_to "Join this Quest", quest_memberships_path(:quest_id => @quest), :method => :post %>
	<% end %>
<% end %>

