<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quest.title %>
</p>

<p>
  <b>Description:</b>
  <%= @quest.description %>
</p>

<p>
  <b>Quest master:</b>
  <%= link_to @quest.quest_master.username, user_path(@quest.quest_master) %>
</p>

<p>
  <b>Distance:</b>
  <%= @quest.distance %>
</p>

<% if !current_user.nil? && current_user == @quest.quest_master %>
	<%= link_to 'Edit', edit_user_quest_path(@quest.quest_master, @quest) %>
<% end %>

