<%= form_for([@checkpoint.user, @checkpoint]) do |f| %>
  <% if @checkpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkpoint.errors.count, "error") %> prohibited this checkpoint from being saved:</h2>

      <ul>
      <% @checkpoint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<input type="button" value="Get Current Location" id="getLocationButton" style="display:none;">
	<div id="loading_notification" style="display:none;">
		<%= image_tag "loader.gif" %> Getting your location. This might take a while...
	</div>
	<br />
	<script type="text/javascript" charset="utf-8">
		
		//  Need refernce to the global map object;
		var map;
		
		$(document).ready(function(){
			if (navigator.geolocation) 
			{
				$("#getLocationButton").css("display", "block");
			};
			$("#getLocationButton").click(function(){
				$("#loading_notification").css("display", "block");
				$("#getLocationButton").css("display", "none");
				navigator.geolocation.getCurrentPosition(function(position){
					$("#checkpoint_latitude").val(position.coords.latitude.toString());
					$("#checkpoint_longitude").val(position.coords.longitude.toString());
					$("#loading_notification").html("<b>Successfully retrieved your location</b>");
					map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
					map.setZoom(14);
				}, function(error){
					$("#loading_notification").html("<b>Sorry. Could not get your location. Please enter it manually</b>");
				});
			});
		});
	</script>

	<!-- Maps Javascript -->
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var myLatlng = new google.maps.LatLng(37.323,-122.031);	
			var myOptions = {
				zoom: 10,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			google.maps.event.addListener(map, "center_changed", function(event) {
				$("#checkpoint_latitude").val(map.getCenter().lat().toString());
				$("#checkpoint_longitude").val(map.getCenter().lng().toString());
			});
		});
	</script>
	<div id="map_canvas" style="width:100%; height:480px"></div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
