<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @checkpoint.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @checkpoint.longitude %>
</p>

<p>
  <b>User:</b>
  <%= @checkpoint.user.username %>
</p>


<%= link_to 'Edit', edit_user_checkpoint_path(@checkpoint.user ,@checkpoint) %> |
<%= link_to 'Back', user_checkpoints_path(@checkpoint.user) %>
