<p id="notice"><%= notice %></p>

<%= render :partial => "users/user_profile_small", :locals => { :user => @user } %>

<p>
	<% if @user.friendships.blank? %>
	  <b><%= @user.username %> has not added any friends</b>
	<% else %>
		<b><%= @user.username %>'s <%= pluralize(@user.friends.count, "friend") %>:</b><br />
		<ul style="list-style-type: none">
		  <% for friendship in @user.friendships %>
	    	<li><%= render :partial => "users/user_profile_small", :locals => { :user => friendship.friend } %></li>
		  <% end %>			
		</ul>
	<% end %>	
</p>

<% if current_user %>
	<% if @user == current_user %>
		<%= link_to 'View Checkpoints', user_checkpoints_path(@user) %> | 
		This is You!
	<% else %>
		<%= link_to "Add #{@user.username} as friend",  friendships_path(:friend_id => @user), :method => :post %>
	<% end %>
<% else %>
	<%= @user.username %> is using GlobeTrotter. <%= link_to "Join now", register_path %>
<% end %>
