<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Globetrotter, Inc." />
	<title>Globetrotter</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "autosuggest" %>	
		<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
				$("#people_input").autoSuggest("<%= suggest_users_path(:format => :json) %>", {
					selectedItemProp: "name",
					searchObjProps: "name",
					formatList: function(data, elem){
						var element = elem.html("<div><img src=" + data.image + "?s=28\">&nbsp;&nbsp;" + data.name + "</div>");
						return element;
					},
					startText: "Find Users",
					resultClick: function(data){
						window.location = "<%= users_path %>" + "/" + data.attributes.value
					}
				});
			});
		</script>
		<%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<div class="main_title">
			<%= link_to "Globetrotter", root_url %>
		</div>
		<div class="user_management">
			<% if current_user %>
				<%= link_to "Edit Profile", edit_user_path(:current) %>
				<%= image_tag gravatar(current_user), :width => '25px', :height => '25px' %> | 
				<%= link_to "logout", logout_path %>
			<% else %>
				<%= link_to "Register", register_path %> | 
				<%= link_to "Login", login_path %>
			<% end %>
		</div>
		<hr />
		<div class="friends_management">
			<input type="text" name="people" value="" id="people_input">
		</div>
		<div class="links">
			<ul>
				<% if current_user %>
					<li><%= link_to "Add new Checkpoint", new_user_checkpoint_path(current_user) %></li>
					<li><%= link_to "My Checkpoints", user_checkpoints_path(current_user) %></li>
					<li><%= link_to "My Quests", user_quests_path(current_user) %></li>
					<li><%= link_to "All Quests", quests_path %></li>
					<li>Badges</li>
					<li><%= link_to "Top Globetrotters", users_path %></li>
				<% else %>
					<li><%= link_to "Quests", quests_path %></li>
					<li>Badges</li>
					<li><%= link_to "Top Globetrotters", users_path %></li>
				<% end %>
			</ul>
		</div>
	</div>	
	<div id="content">
		<%= yield %>
	</div>

<a href="http://github.com/chinmaygarde"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>

</html>